*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: inherit;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
  min-height: 10000px;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active,
  a:focus {
    text-decoration: unset;
    color: unset;
  }

  .v-application.my_app {
  }
}

/**** Scroll Style ****/
::-webkit-scrollbar {
  width: 0.5rem;
  display: none;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  // background: var(--mainColor-1_1);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  // background: var(--mainColor-1_1);
}
