html {
  overflow-x: hidden;
}

body {
  .v-application.my_app {
    overflow-x: hidden;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    background: var(--main_bg_color);
    color: var(--main_color);

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    a,
    a:link,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      text-decoration: unset;
      color: unset;
    }
  }
}

/**** Scroll Style ****/
::-webkit-scrollbar {
  width: 5px;
  display: none;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  // background: var(--mainColor-1_1);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  // background: var(--mainColor-1_1);
}
